.body_telaTurma .txt{
    text-align:center;
    margin-top: 9%;
}
.body_telaTurma .table{
    background-color:rgba(0, 0, 0, 0.1) !important;
    margin-top: 1%;
    color: black;
}
.body_telaTurma .list-group-item-action{
    background-color:rgba(0, 0, 0, 0.082) !important;
    color: rgb(14, 14, 14);
}
.body_telaTurma .list-group-item-action:hover{
    background-color: rgba(0,0,0,.05) !important;
    color: #575252;
 } 

