body{
    background-image: linear-gradient(to right, #2564c2, #1773cd, #0982d7, #0791df, #179fe7);
    
}
.body_cadastro_usuario {
    margin-top: 10%;
}

.body_cadastro_usuario #total-cadastro{
    width: 60%;
}

.body_cadastro_usuario .titulo{
    color: white;
    margin-left:3%;
    margin-bottom: 3%;
}

.body_cadastro_usuario .foto{
    text-align: center;
}

.body_cadastro_usuario .telefone {
    width: 11.5em;
    flex: 0;
}

.body_cadastro_usuario .data {
    border: 1px solid #ced4da;
    border-radius:  0 .25rem .25rem 0;
    text-align: center;
    width: 10.8em;
}
.body_cadastro_usuario .genero_linha {
    text-align: center
}
.body_cadastro_usuario .selecione-genero {
    text-align: center;
    border-radius:  0 .25rem .25rem 0;
    width: 12.3em;
}