.logoFundo{
    
    background-image: linear-gradient(to right, #032452,#04285a, #04357a, #0d428b,#0d489b,#1251aa);
    width: 100%;
    height: 115px;
    color: white;
    text-align: left;
    font: normal 25pt arial;
    border-radius: 0px 0px 5px 5px;
    position: fixed;

    
    
}/*
.logotxt{
    margin-left: 11%;
    margin-top: 3%;
    font-family: x;
    src: url();

}*/
.logoImg{

    position: absolute;
    left: 10px;
    top: 1px;
   
}
.link{
    text-decoration: none;
    color:white;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    font-size: 15pt;



}
/*

.telaUsuario{

    position: absolute;
    left: 80%;
    top: 0px;
    border-radius:100%;
    border:10px solid white;
    width:100px;
    height:100px;
    background-color:rgb(44, 95, 143);
    font: normal 15pt arial;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
*/
