
.titulo {
    margin-top: 250px;
    margin-left: auto;
    margin-right: auto;
    width: 50em
}

.login {
    margin-top: 30px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 50em
}

#entrar {
    margin-left: 20px;
}