body{
    font-family: 'Open Sans', sans-serif;
}

.logoFundo{
    
  background-image: linear-gradient(to right, #032452,#04285a, #04357a, #0d428b,#0d489b,#1251aa);
  width: 100%;
  height: 115px;
  color: white;
  position: fixed;

}
.logoImg{

  position: absolute;
  left: 10px;
  top: 1.5px;
 
}
.link{
  text-decoration: none;
  color:white;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  font-size: 15pt;

}
.barra-navegacao{
  width: 18%;
  float: left;
  height: 100%;
  position: fixed;
  background-color: rgba(12,12,12,0.9);
}

.barra-navegacao .logo {
 
}

.barra-navegacao .logo a {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  

}

.barra-navegacao .logo em {
  font-style: normal;
  font-weight: 300;
}

.barra-navegacao nav {
  position: relative;
  top: 60%;
  left: 60%;
  -webkit-transform: translateX(-60%) translateY(-60%);
  -moz-transform: translateX(-60%) translateY(-60%);
  -ms-transform: translateX(-60%) translateY(-60%);
  -o-transform: translateX(-60%) translateY(-60%);
  transform: translateX(-60%) translateY(-60%);
}

.barra-navegacao ul {
  margin-left: 45px;
  list-style: none;
  padding: 0;
}
.barra-navegacao li{
  padding: 10px 0;
}
.barra-navegacao span{
  display: inline-block;
  position:relative;
}
.barra-navegacao nav a{
  display: inline-block;
  color: #fff;
  margin-top: 5px;
  text-decoration: none!important;
  font-size: 16px;
  letter-spacing: 0.5px;
  text-transform: capitalize;
}
